<!-- <div class="main-page-container h-100 d-flex flex-column">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="d-flex justify-content-evenly align-items-center w-100">
                <div class="bg-primary text-white m-2 p-5 roomSelection" (click)="navigateTo('create-room')">
                    Create room
                </div>
                <div class="bg-primary text-white m-2 p-5 roomSelection" (click)="navigateTo('join-room')">
                    Join a room
                </div>
            </div>
        </div>
    </div>

</div> -->

<div class="container-fluid h-100">
    <div class="h-100 d-flex align-items-center justify-content-evenly flex-wrap text-center">
        <div class="bg-primary text-white m-2 p-5 roomSelection d-flex align-items-center justify-content-center"
            (click)="navigateTo('create-room')">
            Create room
        </div>

        <div class="bg-primary text-white m-2 p-5 roomSelection d-flex align-items-center justify-content-center" (click)="navigateTo('join-room')">
            Join a room
        </div>
    </div>
</div>