* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100vw;
    height: 40px;
    display: block;
    background-color: #101010;
}


.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /*margin top bottom = 0, left right = auto => căn giữa */
    /* background-color: red; */
}


.logo_container {
    height: 100%;
    display: table;
    /* float: left; */
    width: 100%;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span {
    font-weight: 800;
}

.navigation {
    display: flex;
    float: right;
    height: 100%;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    /*padding 0px top và bottom, padding 20px left và right*/
}

.navigation li:last-child {
    padding-right: 0;
}

.navigation li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}

.navigation li img {
    background-color: white;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 16px;
}

.navigation li:not(:has(img)):hover {
    background-color: blue;
    border-radius: 50px;
}


.sidebar {
    display: none;
    position: fixed;
    top: 0;
    /* right: 0; */
    right: -250px;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: whitesmoke;
    /* background-color: transparent; */
    /* background-color: rgba(255,255,255,0.2); */
    /* backdrop-filter: blur(30px); */
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out;
}

.sidebar.open {
    transform: translateX(-250px); /* Di chuyển vào màn hình */
}

.sidebar.closed {
    transform: translateX(0); /* Di chuyển ra ngoài màn hình */
}

.sidebar li {
    padding: 20px 20px;
    width: 100%;
}



.sidebar li:not(:has(img)):hover {
    background-color: lightblue;
    color: black;
}


.navigation li.menu-button {
    display: none;
}

@media(max-width: 650px) {
    .hideOnMobile {
        display: none !important;
    }

    .navigation li.menu-button {
        display: block;
    }

}

@media(max-width: 350px){
    .sidebar{
        width: 100%;
        height: 100%;
    }
}