<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1 (click)="navigateTo('')">MY <span>SITE</span></h1>

            <ul class="navigation">
                <a (click)="navigateTo('')">
                    <li>Home</li>
                </a>
                <a (click)="navigateTo('about-us')">
                    <li>About</li>
                </a>
                <a (click)="navigateTo('')">
                    <li>Portfolio</li>
                </a>
                <a (click)="navigateTo('')">
                    <li>Contact</li>
                </a>
                <a (click)="navigateTo('')">
                    <li>Report</li>
                </a>
            </ul>
        </div>
    </div>
</div>