<div class="container-fluid" style="height: 100vh;">
    <div class="row" style="height: 100%;">

        <!-- Cột Tools -->
        <div class="col-md-2" style="background-color: #f4f4f4; padding: 20px; height: 100%;">
            <h1>Tools</h1>
            <div class="mt-3">Color:
                <input [(colorPicker)]="color" [style.background]="color" style="width: 50px;" />
            </div>

            <div class="row g-3 mt-3">
                <div class="col-sm-3">
                    <div class="color-box bg-primary" (click)='ChangeColor("#0000FF")'></div>
                </div>
                <div class="col-sm-3">
                    <div class="color-box bg-danger" (click)='ChangeColor("#C70039 ")'></div>
                </div>
                <div class="col-sm-3">
                    <div class="color-box bg-success" (click)='ChangeColor("#008000")'></div>
                </div>
                <div class="col-sm-3">
                    <div class="color-box bg-warning" (click)='ChangeColor("#FFC300")'></div>
                </div>
            </div>`
            <div class="mt-3">Pen size
                <input type="range" [(ngModel)]="penSize" [min]="1" [max]="10"> {{penSize}}
            </div>
            <div class="row mt-3">
                <div class="col-auto">
                    <button class="btn btn-primary me-2">Undo</button>
                    <button class="btn btn-danger">Clear</button>
                </div>
            </div>

            <div class="mt-3">
                <button class="btn btn-warning">Erase</button>
            </div>

            <div class="mt-3">
                <div>
                    Text box
                </div>
                <button>Create btn</button>
            </div>

            <div class="mt-3">
                Chat
            </div>
        </div>

        <!-- Cột Content -->
        <div class="col-md-10 position-relative">
            <app-textbox></app-textbox>
            <canvas style="background-color: #eaeaea; height: 100%;"></canvas>
        </div>

    </div>
</div>