<header class="header">
    <a (click)="scrollToSection(about)" class="logo">
        <span>Minh Tuan</span>
    </a>

    <ul class="nav-links">
        <li>
            <a (click)="scrollToSection(about)">About</a>
        </li>

        <li>
            <a (click)="scrollToSection(skills)">Skills</a>
        </li>

        <li>
            <a (click)="scrollToSection(experience)">Experience</a>
        </li>

        <li>
            <a (click)="scrollToSection(projects)">Projects</a>
        </li>

        <li>
            <a (click)="scrollToSection(contact)">Contact</a>
        </li>
    </ul>
    <i class="fa-solid fa-bars" id="menu-icon"></i>

    <a class="visit-btn" href="https://github.com/dark-doraemon" target="_blank">Visit github</a>

</header>

<section #about id="about" class="about">
    <div class="about-container">
        <img src="https://avatars.githubusercontent.com/u/92509424?v=4" alt="">

        <div class="info-box">
            <div class="text">
                <h3>Xin chào, tôi tên là </h3>
                <h1>Tuấn</h1>
                <span>Software Developer</span>
            </div>

            <div class="btn-group">
                <a class="customBtn" href="./assets/cv.pdf" download>Download CV</a>
            </div>


            <div class="socials">
                <a href="https://github.com/dark-doraemon" target="_blank">
                    <i class="fa-brands fa-github" style="color:black ;"></i>
                </a>
                <a href="https://www.linkedin.com/in/tuandinhminh/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section #skills id="skills" class="skills">
    <h2 class="section-title" style="margin-bottom: 0;">Skills</h2>
    <p class="skills-describe">
        Tôi là một Software Developer và có thể sử dụng nhiều ngôn ngữ lập trình và công nghệ khác nhau để tạo ra sản
        phẩm nhưng
        thế mạnh nhất của tôi vẫn là C#/.NET
    </p>
    <div class="skills-main">
        <div class="skills-container">
            <i class="devicon-csharp-plain colored"></i>
            <i class="devicon-dotnetcore-plain colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-typescript-plain colored"></i>
            <i class="devicon-docker-plain-wordmark colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-angular-plain-wordmark"></i>
            <i class="devicon-microsoftsqlserver-plain-wordmark colored"></i>
            <i class="devicon-cplusplus-plain colored"></i>
            <i class="devicon-git-plain colored"></i>
            <i class="devicon-github-original colored"></i>
            <i class="devicon-gitlab-plain colored"></i>
            <!-- <div class="slider"></div> -->
        </div>
    </div>
</section>

<section #experience id="experience" class="experience">
    <div class="experience" id="experience">
        <h2 class="section-title">
            Experience
        </h2>

        <div class="experience-info">
            <div class="grid">
                <div class="grid-card">
                    <div class="experience-text">
                        <i class="fa-solid fa-code"></i>
                        <span>Backed developer intern</span>
                        <h3>3 months (8/2024 - 11/2024)</h3>
                        <p>
                            Viết API và unit test của các module cho dự án Nutri tại Kyanon Digital
                        </p>
                    </div>

                    <div class="company-logo">
                        <img src="https://kyanon.digital/wp-content/uploads/2021/11/avatar-kyanon.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section #projects id="projects" class="projects">
    <h2 class="section-title">Projects</h2>

    <div class="projects-grid">
        <div class="project-card">
            <img src="./assets/p1.png" alt="">
            <h3>Quản lý khách sạn</h3>
            <p>

            </p>
            <div class="btn-group">
                <a class="customBtn" href="https://www.youtube.com/watch?v=79xL04T3RMM" target="_blank">Demo</a>
                <a class="customBtn" href="https://github.com/dark-doraemon/HotelManagementWithASP.NET2"
                    target="_blank">GitHub Repo</a>
            </div>
        </div>

        <div class="project-card">
            <img src="./assets/p2.png" alt="">
            <h3>Ecommerce Web</h3>
            <p>
            </p>

            <div class="btn-group">
                <a class="customBtn" href="https://www.youtube.com/watch?v=B-_lrsHDiqY" target="_blank">Demo</a>
                <a class="customBtn" href="https://github.com/dark-doraemon/Ecommerce-official-2" target="_blank">GitHub
                    Repo</a>
            </div>
        </div>

        <div class="project-card">
            <img src="" alt="">
            <h3>Draw web</h3>
            <p>
            </p>

            <div class="btn-group">
                <a class="customBtn">Demo</a>
                <a class="customBtn">GitHub Repo</a>
            </div>
        </div>
    </div>
</section>

<section #contact id="contact" class="contact">
    <!-- <div class="input-box">
        <h2 class="section-title">Contact me</h2>

        <div class="input">
            <input type="text" placeholder="example@gmail.com">
            <i class="fa-solid fa-envelope"></i>
        </div>

        <div class="customBtn">Submit</div>
    </div> -->
    <div class="list-contact">
        <div class="phone">
            <i class="fa-solid fa-phone"></i>
            <div>0812066119</div>
        </div>
        <div class="gmail">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <div>tuandinhbi75&#64;gmail.com</div>
        </div>
        <div class="linkedin ">
            <i class="fa-brands fa-linkedin"></i>
            <div>
                <a href="https://www.linkedin.com/in/tuandinhminh/">Tuan Dinh Minh</a>
            </div>
        </div>
    </div>
</section>

<footer>
    <ul>
        <li>
            <a>About</a>
        </li>
        <li>
            <a>Skills</a>
        </li>
        <li>
            <a>Experience</a>
        </li>
        <li>
            <a>Projects</a>
        </li>
        <li>
            <a>Contact</a>
        </li>
    </ul>
    <p class="copyright">
        &#169; All Rights Reserved | Minh Tuấn
    </p>
</footer>