<div class="container-fluid">
    <div class="row justify-content-center" style="align-items: flex-start; padding-top: 10vh;">
        <div class="col-12 col-md-6"
            style="background-color: #caecf3fa; border-radius: 8px; padding: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
            <div class="form-container">
                <h2 class="text-center">Tạo phòng học</h2>
                <form>
                    <div class="mb-3">
                        <!-- <label for="className" class="form-label">Nhập tên phòng</label> -->
                        <!-- <input type="text" class="form-control" id="className" placeholder="Tên phòng"> -->
                    </div>
                    <button class="btn btn-primary mt-3 d-flex mx-auto">Tao ngay</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 1rem;">
        <div class="col-12 text-center">
            <p class="text-muted mb-1">Đã có phòng học?</p>
            <a routerLink="/join-room" class="btn btn-link p-0">Tham gia ngay</a>
        </div>
    </div>
</div>
