<section class="about">
    <div class="main">
        <img class="avatar" src="https://avatars.githubusercontent.com/u/92509424?v=4">
        <div class="about-text">
            <h1>About me</h1>
            <h5> <span>Software</span> developer</h5>
            <p >
                Tôi tên là Tuấn, nick name của tôi là CounterLogic. Tôi là một web
                developer với khả năng lập trình đa ngôn ngữ, linh hoạt trong nhiều công nghệ khác nhau. Tuy nhiên, thế
                mạnh lớn nhất của tôi nằm ở c#/.NET, nơi tôi có thể tạo ra những giải pháp mạnh mẽ và hiệu quả cho các
                dự
                án. Tôi luôn sẵn sàng học hỏi và mở rộng kiến thức để hoàn thiện hơn mỗi ngày
                Rất vui được kết nối với mọi người! 😊
            </p>
        </div>
    </div>
</section>